/*letra titulo*/
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap'); 
/*letra texto*/
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-family: "Darker Grotesque", sans-serif;
}

header,footer{
    background-color: whitesmoke;
}

ul,ol{
    list-style-type: none;
}

a{
    text-decoration: none;
    font-size: 1em;/*20px*/
    color: inherit;/*color heredado de letra*/
}

h1{
    font-size: 5.9em ;
    font-family: "Lora", serif;
    font-style: normal;
    text-align: center;
}

h5{
    font-size: 1.5em ;
    font-family: "Lora", serif;
    font-style: normal;
    color: inherit;
}

p{
    font-size: 1.8em /*18px*/;
}

img{
    width: 100%;
}

.container{
    max-width: 1200px;
    margin:  0 auto;
}
